/* --------------special margin, padding, text ---------------- */

.uppercase {
    text-transform: uppercase;
}


/* --------------header ---------------- */

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding-left: 10px;
}

.navbar {
    border-bottom: solid #777 1px;
    padding-bottom: 0;
    margin: 0 20px;
}

#main-navbar {
    background-color: transparent !important;
}

#brand-logo {
    color: #777;
}


/* --------------Body---------------- */
.headline-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
}

.headline-text-wrapper {
    background-color: #ddd;
}

.intro-headline {
    padding: 50px;
}

.intro-headline h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.intro-headline h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 30px;
    text-transform: uppercase;
}

.intro-paragraph {
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}



.intro-paragraph span {
    font-size: 30px;
}

.home-page-hr {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 2px solid #bbb;
}


/* --------------Footer---------------- */

footer {
    min-height: 300px;
    padding: 0;
    margin: 0;
}

.featured-badges {
    padding: 30px;
}

.sm-icon {
    color: #777;
    font-size: 2em;
    padding: 5px;
}

.footer-badge-image {
    padding: 30px;
}

.back-to-top-footer-link {
    text-decoration: none;
    color: #777;
}

.social-media-badges {
    padding-bottom: 40px;
}

.bottom-footer-container {
    padding-bottom: 20px;

}


.back-to-top {
    padding: 10px;
}

.copyright {
    padding: 10px;
}

.pic-container img {
    max-width: 800px;
    max-height: 600px;
}