/* -----------special margin, padding, text, general/site-wide------------- */


.uppercase {
    text-transform: uppercase;
}

.my-button {
    padding: 10px;
    margin: 20px 5px;
}

/* .home-page-hr {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 2px solid white;
} */

.section-margin {
    margin-top: 50px;
}

.container-fluid {
    padding: 0;
}

/* --------------header ---------------- */

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding-left: 10px;
}

.navbar {
    border-bottom: solid #777 1px;
    padding-bottom: 0;
    margin: 0 20px;
}

#main-navbar {
    background-color: transparent !important;
}

#brand-logo {
    color: #777;
}

#brand-logo:hover {
    color: rgba(0, 0, 0, 0.7);
}

/* --------------Home Page---------------- */



/* --------------Intro Section---------------- */

.headline-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grey-container {
    background-color: #ddd;
}

.intro-headline-row {
    min-height: 400px;
}

.intro-headline {
    padding-left: 25px;
}

/* following media query to prevent the text from becoming too stretched out on larger screens */
@media screen and (min-width: 992px) {
    .intro-headline {
        padding-left: 100px;
    }
}

*/ .intro-headline {
    padding-left: 25px;
}

.intro-headline h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.intro-headline h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 30px;
    text-transform: uppercase;
}

.intro-paragraph {
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

/* following media query to prevent the text from becoming too stretched out on larger screens */
@media screen and (min-width: 992px) {
    .intro-paragraph p {
        max-width: 80%;
    }
}


.intro-paragraph span {
    font-size: 30px;
}


/* --------------Home Page - Portfolio Section---------------- */

.portfolio-heading {
    padding: 20px;
}

.portfolio-hr {
    margin-top: 10px;
}

.portfolio-heading h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;


}

.portfolio-image {
    max-width: 80%;
    padding: 10px;
}

/* --------------Home Page - About Me Section---------------- */

.hp-about-image {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 50px;

}



.hp-about-text {
    max-width: 80%;
    line-height: 2;
    padding: 15px;
}

.hp-about-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 200;
}

.hp-about-text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;

}

.hp-about-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;

}



/* --------------Home Page - Testemonial Section---------------- */

.hp-testemonial {
    margin-bottom: 50px;
}

.kind-words-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;
}

.blockquote {
    padding: 20px;
}

.blockquote p {
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.blockquote-footer {
    padding: 10px;
    color: black
}

.middle-blockquote {
    border-left: 1px solid #777;
    border-right: 1px solid #777;

}


/* --------------Home Page - Get in Touch Section---------------- */

.hp-contact-me {
    margin-bottom: 20px;
}

.contact-me-text h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px
}

.contact-me-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
    font-size: 20px;
}

.contact-me-text {
    padding: 50px;
}

/* --------------Contact Me Page---------------- */
.contact-me-main-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-body {
    padding-top: 15px;
    max-width: 100%;
    margin: 0 auto;
}

/* following media query to reduce the size of the form on larger screens */

@media screen and (min-width: 768px) {
    .contact-form-body {
        max-width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .contact-form-body {
        max-width: 50%;
    }
}



.contact-form-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-top: 30px;
    text-transform: uppercase;
}

.contact-form-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
    font-size: 20px;
    margin: 0 15px;
}

/* following media query to center the text on larger screens */
@media screen and (min-width: 992px) {
    .contact-form-p {
        margin: 0 25%;
    }
}

.contact-form {
    margin: 60px 0;
}

form input,
textarea {
    margin: 5px;
}

/* --------------Portfolio Page---------------- */

#photo-gallery {
    padding: 10px;
    column-gap: 10px;
    column-count: 3;
    line-height: 10px;
}

#photo-gallery img {
    width: 100%;
    margin: 1px;
}

/* following media query to ensure gallery columns reduce correctly (to one) on smaller devices */

@media screen and (max-width: 768px) {
    #photo-gallery {
        column-count: 1;
    }
}

.portfolio-contact-me {
    margin-bottom: 15px;
}

/* --------------About Page---------------- */

.section-wrapper-about {
    margin-top: 50px;
}

.my-style-row {
    min-height: 350px;
}


.about-text-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 200;
}

.about-text-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-text-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
    font-size: 15px;
}


.img-my-family {
    max-width: 90%;
    padding: 30px;

}


/* --------------Footer---------------- */

/* following media query to stop the copyright text sitting to close to the bottom and left margins on viewports >768px */

@media screen and (min-width: 768px) {
    .copyright-footer-text {
        margin-left: 100px;
        margin-bottom: 50px;
    }
}

.copyright-footer-text {
    padding-bottom: 25px;
}


.homepage-footer {
    min-height: 300px;
    padding: 0;
    margin: 0;
}

.featured-badges {
    padding: 30px;
}

.footer-badge-image:hover {
    opacity: 75%;
}

/* following css to remove corners from this feaured badge */
.lmd-badge {
    border-radius: 50%;
}

.sm-icon {
    color: #777;
    font-size: 2em;
    padding: 5px;
}

.sm-icon:hover {
    color: #000;
}

.footer-badge-image {
    padding: 30px;
}

.back-to-top-footer-link {
    text-decoration: none;
    color: #777;
}

.back-to-top-footer-link:hover {
    color: #000;
}

.social-media-badges {
    padding-bottom: 40px;
}

.bottom-footer-container {
    padding-bottom: 20px;
}

.back-to-top {
    padding: 10px;
}

.copyright {
    padding: 10px;
}